*{
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: inherit;
}
body{
    height: 100vh;
    background-image: url(./O_Tell.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}